<div class="column">
  <nav class="column is-quarter">
    <div class="media is-center">
      <figure class="image">
        <img src="<%= asset_path( 'sibitter_logo.png' ) %>" alt="logo sibitter"/>
      </figure>
    </div>
  </nav>
</div>

<div class="box">

</div>

<div class="column">
  <nav class="box">
    <div class="column is-centered">
      <%= simple_form_for(@sibitt) do |f| %>
      <%= f.error_notification %>
        <div class="field">
          <div class="control">
            <%= render 'new'%>
            <%= f.button :submit, "Sign Up", class:"button is-info is-medium"
            link_to 'Sign Up',  new_user_registration_path  %>
            <p>or</p>
            <%= f.button :submit, "Sign In", class:"button is-info is-medium"
            link_to 'Sign In',  new_user_session_path  %>
          </div>
        </div>
      <% end %>
    </div>
  </nav>

  <div class="column">
    <nav class="panel">
      <p class="panel-heading">Trends</p>
        <a class="panel-block">
          Trend 1
        </a>
        <a class="panel-block">
          Trend 2
        </a>
        <a class="panel-block">
          Trend 3
        </a>
        <a class="panel-block">
          Trend 4
        </a>
        <a class="panel-block">
          Trend 5
        </a>
        <a class="panel-block">
          Trend 6
        </a>
    </nav>
  </div>
</div>